Dear $recipient$,

I am pleased to inform you that you have been selected as the winner of a
MCS 260 commemorative coin.  This high-quality collectible features:
# Note: We should check that the final coin has all of these
# Early drafts had the shark replaced by a narwhal!
@  A front side engraving of a shark
@  A read side engraving of a laser pointer
@  The words &quot;MCS 260  -  $motto$&quot; below the engraving on each side

Your coin should arrive in 4-6 weeks.

Sincerely,

$sender$
