<!DOCTYPE html>
<html>
<head><title>HTML document</title></head>
<body>
<p>
Dear Priscilla Overton,
</p>
<p>
I am pleased to inform you that you have been selected as the winner of a
MCS 260 commemorative coin.  This high-quality collectible features:
</p>
<ul>
<li>  A front side engraving of a shark</li>
<li>  A read side engraving of a laser pointer</li>
<li>  The words &quot;MCS 260  -  Semper Pythonis&quot; below the engraving on each side</li>
</ul>
<p>
Your coin should arrive in 4-6 weeks.
</p>
<p>
Sincerely,
</p>
<p>
David Dumas
</p>
</body>
</html>
